body {
  font-family: Helvetica, sans-serif;
  margin:0;
}

#items, #memes{
  padding: 0;
}

ul ul {
  padding: 0 5px;
}

#memes li{
  padding:5px 10px;
}

li {
  list-style-type: none;
}

#items li {
  border-bottom:1px solid #E0E0E0;
}

#items li a{
  display: block;
  padding:5px 10px;
}

a{
  text-decoration: none;
  color: inherit;
}

a[selected], a:active {
  background: #194fdb !important;
  color: #FFFFFF !important;
}

a:visited {
  background: #ddd !important;
}

.title {
  font-weight: bold;
}

.tag {
  margin-right: 10px;
  color: #aaa;
  font-size: 90%;
}

.url {
  color: #77f;
}

#search-box {
  margin: 10px;
}

.item div {
  padding: 0 5px;
}

#more {
  text-align: center; 
}
